<div class="container">
  <h2 class="pb-3">マイページ</h2>
  <div class="row">
    <div class="col-5 mr-0">
      <div class="row">
        <p>登録情報</p>
        <p class="ml-3">
          <%= link_to "編集する",current_customer_information_edit_path, class: "btn btn-success btn-sm" %>
        </p>
      </div>

      <div class="row">
        <div>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th><%= "氏名" %></th>
                <th><%= @customer.last_name %><%= @customer.first_name %></th>
              </tr>
              <tr>
                <th><%= "カナ" %></th>
                <th><%= @customer.last_name_kana %><%= @customer.first_name_kana %></th>
              </tr>
              <tr>
                <th><%= "ニックネーム" %></th>
                <th><%= @customer.nickname %></th>
              </tr>
              <tr>
                <th><%= "生年月日" %></th>
                <th><%= @customer.date_of_birth %></th>
              </tr>
              <tr>
                <th><%= "性別" %></th>
                <th><%= @customer.gender %></th>
              </tr>
              <tr>
                <th><%= "メールアドレス" %></th>
                <th><%= @customer.email %></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-7">
      <p>投稿一覧</p>
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>評価</th>
            <th></th>
          </tr>
        </thead>

        <tbody>

        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.game.title.truncate(20), post_path(post.id) %></td>
            <td><div id="star-rate<%= post.id%>"></div></td>
            <script>
              $('#star-rate<%= post.id %>').empty();
              var elem<%= post.id %> = document.querySelector('#star-rate<%= post.id %>');
              var opt<%= post.id %> = {
                size:    36,
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                half:      false,
                score: <%= post.star %>,
                readOnly: true
              };
              raty(elem<%= post.id %>, opt<%= post.id %>);
            </script>

            <td>
              <% if post.status == "public" %>
                <p class="text-success">公開</p>
              <% else %>
                <p class="text-muted">非公開</p>
              <% end %>
            </td>
          </tr>

        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
