<h1>Public::Games#show</h1>
<p>Find me in app/views/public/games/show.html.erb</p>

<%#= @game.inspect %>
<div class="container">
  <div class="row pb-3">
    <h4 class="pr-5">ゲーム詳細</h4>
    <%= link_to "戻る", request.referer %>
  </div>

  <div class="row">
    <div class="col-2">
      <p>ゲームタイトル</p>
    </div>
    <div class="col-6">
      <%= @game.title %>
    </div>
  </div>
  <%#= @game.item_caption %>
  <div class="row">
    <div class="col-2">
      <p>発売元名</p>
    </div>
    <div class="col-6">
      <%= @game.label %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <p>対応機種</p>
    </div>
    <div class="col-6">
      <%= @game.hardware %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <p>発売日</p>
    </div>
    <div class="col-6">
      <%= @game.sales_date %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <p>商品説明文</p>
    </div>
    <div class="col-6">
      <%= @game.item_caption %>
    </div>
  </div>

  <%= image_tag(@game.image_url + "?_ex=60x60") %>

  <%= form_with model: @post, local: true do |f| %>
    body: <%= f.text_area :body %><br>
    <div class="d-flex flex-row mb-3">
      star: <div id="post_raty"></div><br>
    </div>




    <%= f.hidden_field :title, value: @game.title %>
    <%= f.hidden_field :item_caption, value: @game.item_caption %>
    <%= f.hidden_field :labal, value: @game.label %>
    <%= f.hidden_field :jan, value: @game.jan %>
    <%= f.hidden_field :hardware, value: @game.hardware %>
    <%= f.hidden_field :item_url, value: @game.item_url %>
    <%= f.hidden_field :image_url, value: @game.image_url %>
    <%= f.hidden_field :sales_date, value: @game.sales_date %>

    <%= f.submit "review" %>
  <% end %>

  <%#= @posts.inspect %>

  <!--<p>評価:</P>-->
  <!--<div class="row">-->
  <!--  <div class="col-md-3 position-static">-->

  <!--  </div>-->
  <!--</div>-->

  <script>
  var elem = document.getElementById('post_raty');
  var opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: "post[star]"
    };
    raty(elem,opt);
  </script>
</div>