<%#= @game.inspect %>
<div class="container">
  <div class="row pb-3">
    <h2 class="pr-5 pb-3">ゲーム詳細</h2>
    <h2 class="ml-5"><%= link_to "戻る", request.referer %></h2>
  </div>

  <div class="row">
    <div class="col-7">
      <div class="row mb-4">
        <div class="col-3">
          <p>ゲームタイトル</p>
        </div>
        <div class="col-8">
          <%= @game.title %>
        </div>
      </div>
      <%#= @game.item_caption %>
      <!--<div class="row">-->
      <!--  <div class="col-2">-->
      <!--    <p>発売元名</p>-->
      <!--  </div>-->
      <!--  <div class="col-6">-->
      <!--    <%#= @game.label %>-->
      <!--  </div>-->
      <!--</div>-->

      <div class="row mb-4">
        <div class="col-3">
          <p>対応機種</p>
        </div>
        <div class="col-8">
          <%= @game.hardware %>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <p>発売日</p>
        </div>
        <div class="col-8">
          <%= @game.sales_date %>
        </div>
      </div>
    </div>

    <div class="col-5">
      <%= image_tag(@game.image_url + "?_ex=200x200") %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2">
      <p>商品説明文</p>
    </div>

    <div class="col-10">
      <textarea class="form-control" id="exampleFormControlTextarea1" style="height: 400px">
        <%= @game.item_caption %>
      </textarea>
    </div>

  </div>


  <div class="row mt-5 pt-5 border-top border-success border-width5">
    <%= form_with model: @post, local: true do |f| %>
      <div class="row">
        <div class="col-4 mr-3">
          <label for="body">レビュー</label>
          <div class="input-mysize">
            <%= f.text_area :body, id: "body", cols: "70", rows: "6"  %>
          </div>


          <div class="d-flex flex-row mt-5 mb-3">
            <label for="star" class="mr-3">評価:</label>
            <div id="post_raty"></div><br>
          </div>




          <%= f.hidden_field :title, value: @game.title %>
          <%= f.hidden_field :item_caption, value: @game.item_caption %>
          <%= f.hidden_field :labal, value: @game.label %>
          <%= f.hidden_field :jan, value: @game.jan %>
          <%= f.hidden_field :hardware, value: @game.hardware %>
          <%= f.hidden_field :item_url, value: @game.item_url %>
          <%= f.hidden_field :image_url, value: @game.image_url %>
          <%= f.hidden_field :sales_date, value: @game.sales_date %>

          <%= f.submit "投稿する" %>
        </div>

        <div class="col-2"></div>

        <div class="col-5 ml-5 pl-5">
          <div class="form-group mt-5 ml-5">タグ</div>

          <div class="row d-flex justify-content-start m-5">
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_type) do |tag| %>
              <div class="form-check form-check-inline flex flex-wrap">
                <%= tag.label do %>
                  <%= tag.check_box %>
                  <%= tag.text %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%#= @posts.inspect %>

  <!--<p>評価:</P>-->
  <!--<div class="row">-->
  <!--  <div class="col-md-3 position-static">-->

  <!--  </div>-->
  <!--</div>-->

  <script>
  var elem = document.getElementById('post_raty');
  var opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: "post[star]"
    };
    raty(elem,opt);
  </script>
</div>