<div class="container">
  <div class="row">
    <h4>投稿編集</h4>
  </div>

  <%= form_with(model: @post, local: true) do |form| %>

  <!--・・・省略・・・-->

    <%= form.label(:public, for: nil, class:'post-status__label') do %>
        <%= form.radio_button :status, :public %>
        <%= "公開" %>
    <% end %>
    <%= form.label(:private, for: nil, class:'post-status__label') do %>
        <%= form.radio_button :status, :private %>
        <%= "非公開" %>
    <% end %>

  <!--・・・省略・・・-->
    <%= form.submit '保存' %>
  <% end %>

</div>