<div class="container">
  <h1>投稿一覧</h1>

  <%= render "search", post: @post %>

  <%= form_with url: posts_path, method: :get, local: true do |f| %>
    <div id="post_raty"></div>

    <%= f.submit "検索" %>
  <% end %>


  <div class="row pt-3">
    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>評価</th>
          <th>投稿者</th>
          <div class="row d-flex border-bottom m-5">
            <div class="col-1 py-3 font-weight-bold">タグ</div>
          </div>
        </tr>
      </thead>

      <tbody>
      <% @posts.each do |post| %>
        <%#= post.inspect %><br>
        <%#= post.game.inspect %><br>
        <hr>

        <tr>
          <td><%= link_to post.game.title.truncate(20), post_path(post.id) %></td>
          <td><div id="star-rate<%= post.id%>"></div></td>
          <script>
            $('#star-rate<%= post.id %>').empty();
            var elem<%= post.id %> = document.querySelector('#star-rate<%= post.id %>');
            var opt<%= post.id %> = {
              size:    36,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
             half:      false,
              score: <%= post.star %>,
              readOnly: true
            };
            raty(elem<%= post.id %>, opt<%= post.id %>);
          </script>

          <td><%=link_to post.customer.nickname, posts_path(nickname: post.customer.nickname) %></td>

          <div class="col-1 py-3">
            <% post.tags.each do |tag| %>
              <%= tag.tag_type %>
            <% end %>
          </div>
        </tr>

      <% end %>
      </tbody>
    </table>
  </div>
</div>

 <script>
  var elem = document.getElementById('post_raty');
  var opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: "post[star]"
    };
    raty(elem,opt);
  </script>
