<h1>Public::Posts#show</h1>
<p>Find me in app/views/public/posts/show.html.erb</p>

<div class="container">
    <%= @post.inspect %><br>

    <%= @post.game.inspect %>

    <%= @post.game.title %>

    <%= image_tag(@post.game.image_url + "?_ex=60x60") %>

    <%= @post.body %>
    <%= @post.star %>

    <h2>投稿詳細</h2>

    <%= @post.body %>



    <h2>コメントをする</h2>

    <%= form_with(model:[@post, @comment], method: :post) do |f| %>
      <%= f.text_area :comment_content %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit 'コメントする' %>
    <% end %>

    <h2>コメント一覧</h2>

    <% @comments.each do |comment| %>
      <%= comment.comment_content %>
    <% end %>
</div>