<h1>Public::Posts#show</h1>
<p>Find me in app/views/public/posts/show.html.erb</p>

<div class="container">
    <%#= @post.inspect %><br>

    <%#= @post.game.inspect %>





    <%#= @post.body %>
    <%#= @post.star %>

    <h2>投稿詳細</h2>

    <div class="row">
      <%= @post.game.title %>
    </div>
    <div class="row">
      <%= image_tag(@post.game.image_url + "?_ex=60x60") %>
    </div>

    <%= @post.body %>
<!--==================-->
    <div id="star-rate<%= @post.id%>">    </div>
      <script>
        $('#star-rate<%= @post.id %>').empty();
        var elem<%= @post.id %> = document.querySelector('#star-rate<%= @post.id %>');
        var opt<%= @post.id %> = {
          size:    36,
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
         half:      false,
          score: <%= @post.star %>,
          readOnly: true
        };
        raty(elem<%= @post.id %>, opt<%= @post.id %>);
      </script>

    <% @post.tags.each do |tag| %>
      <tr>
        <th style="width: 30%">タグ</th>
        <td style="width: 70%"><%= tag.tag_type %></td>
      </tr>
    <% end %>

    <%= link_to "編集", edit_post_path %>

    <div>
      <%#= f.label :is_published_flag, "公開", value: true %>
      <%#= f.radio_button :is_published_flag, 'true' %>
    </div>
    <div>
      <%#= f.label :is_published_flag, "非公開", value: false %>
      <%#= f.radio_button :is_published_flag,'false' %>
    </div>

    <h2 class="mt-5">コメントをする</h2>

    <%= form_with(model:[@post, @comment], method: :post) do |f| %>
      <%= f.text_area :comment_content %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit 'コメントする' %>
    <% end %>

    <h2 class="mt-3">コメント一覧</h2>

    <% @comments.each do |comment| %>
      <%= comment.comment_content %>
    <% end %>
</div>