<!--<h1>Admin::Games#show</h1>-->
<!--<p>Find me in app/views/admin/games/show.html.erb</p>-->

<div class="container">
  <h2 class="pb-3">ゲーム詳細</h2>

  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-3">
          <p>ゲームタイトル</p>
        </div>
        <div class="col-9">
          <%= @game.title %>
        </div>
      </div>

      <!--<div class="row">-->
      <!--  <div class="col-2">-->
      <!--    <p>発売元名</p>-->
      <!--  </div>-->
      <!--  <div class="col-10">-->
      <!--    <%#= @post.game.label %>-->
      <!--  </div>-->
      <!--</div>-->

      <div class="row pt-4">
        <div class="col-3">
          <p>対応機種</p>
        </div>
        <div class="col-9">
          <%= @game.hardware %>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-3">
          <p>発売日</p>
        </div>
        <div class="col-9">
          <%= @game.sales_date %>
        </div>
      </div>
    </div>

    <!--<div class="col-2"></div>-->

    <div class="col-2">
      <%= image_tag(@game.image_url + "?_ex=200x200") %>
    </div>
  </div>

  <h5 class="pt-5 pb-3">レビュー内容</h5>
  <table class="table">
    <tbody>
    <% @posts.each do |post| %>
      <tr class="d-flex">
        <td class="p-2 flex-grow-1"><div><%= post.body %></div></td>

        <td>
          <div id="star-rate<%= post.id %>"></div>
          
        
          <script>
            $('#star-rate<%= post.id %>').empty();
            var elem<%= post.id %> = document.querySelector('#star-rate<%= post.id %>');
            var opt<%= post.id %> = {
              size:    36,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
             half:      false,
              score: <%= post.star %>,
              readOnly: true
            };
            raty(elem<%= post.id %>, opt<%= post.id %>);
          </script>
        </td>
        <td><%= link_to "詳細", admin_post_path(id: post.id, game_id: post.game_id) %></td>
      </tr>
      
      
    <% end %>
    </tbody>
  </table>
