<div class="container">
  <h1>ジャンル一覧・追加</h1>
  <div class="row">
    <%= form_with model: @jenre, url: admin_jenres_path do |f| %>
      <div class="col">

        <p>ジャンル名
        <%= f.text_field :jenre_name %>
        <%= f.submit '新規登録' %></p>
      </div>
      
      <div class="col">
        <p>機種名
        <%= f.text_field :game_console %>
        <%= f.submit '新規登録' %></p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル名</th>
          </tr>
        </thead>

        <tbody>
          <% @jenres.each do |jenre| %>
            <tr>
              <td><%= jenre.jenre_name %></td>
              <td><%= link_to "編集する", edit_admin_jenre_path(@jenre.id), class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>機種名</th>
          </tr>
        </thead>

        <tbody>
          <% @jenres.each do |jenre| %>
            <tr>
              <td><%= jenre.game_console %></td>
              <td><%= link_to "編集する", edit_admin_jenre_path(@jenre.id), class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

