<!DOCTYPE html>
<html>
  <head>
    <title>GameReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom border-primary mb-5 pb-3">
      <div class="container ">
        <nav class="navbar navbar-bottom">
          <div class="d-flex align-items-center">
            <h1 class="pl-3 pr-3 border border-dark mt-5">game_review</h1>
          </div>

          <ul class="navbar-nav ml-auto">
            <form class="form-inline">
              <% if admin_signed_in? %>
                <% if request.fullpath.include? "/admin" %>
                  <li class="nav-item ml-5">
                    <%= link_to "ゲーム一覧",admin_games_path, class: "btn btn-sm btn-outline-secondary" %>
                  </li>
                  <li class="nav-item ml-5">
                    <%= link_to "会員一覧", admin_customers_path, class: "btn btn-sm btn-outline-secondary" %>
                  </li>
                  <li class="nav-item ml-5">
                    <%= link_to "レビュー履歴一覧", admin_root_path, class: "btn btn-sm btn-outline-secondary" %>
                  </li>
                  <!--<li class="nav-item ml-5">-->
                  <!--  <%#= link_to "ジャンル一覧", admin_jenres_path, class: "btn btn-sm btn-outline-secondary" %>-->
                  <!--</li>-->
                  <li class="nav-item ml-5">
                    <%= link_to "タグ一覧", admin_tags_path, class: "btn btn-sm btn-outline-secondary" %>
                  </li>
                  <li class="nav-item ml-5">
                    <%= link_to "ろぐあうと", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary" %>
                  </li>
                <% else %>
                  <li class="nav-item ml-5">
                    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary" %>
                  </li>
                <% end %>
              <% elsif customer_signed_in? %>
                <div class="d-flex">
                  <p>ようこそ、<br><%= current_customer.nickname %>さん！</p>
                </div>
                <li class="nav-item ml-5">
                  <%= link_to "マイページ", current_customer_show_path(current_customer.id), class: "btn btn-sm btn-outline-secondary" %>
                </li>
                <!--<li class="nav-item ml-5">-->
                <!--  <%#= link_to "ゲーム一覧", games_path, class: "btn btn-sm btn-outline-secondary" %>-->
                <!--</li>-->
                <li class="nav-item ml-5">
                  <%= link_to "投稿一覧", posts_path, class: "btn btn-sm btn-outline-secondary" %>
                </li>
                <li class="nav-item ml-5">
                  <%=  link_to "ゲームを検索",games_search_path,class: ' btn btn-sm btn-outline-secondary ' %>
                </li>
                <!--<li class="nav-item ml-5">-->
                <!--  <%#=  link_to "投稿", new_game_path,class: ' btn btn-sm btn-outline-secondary ' %>-->
                <!--</li>-->
                <li class="nav-item ml-5">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: "btn btn-sm btn-outline-secondary" %>
                </li>
              <% else %>
                <!--<li class="nav-item ml-5">-->
                <!--  <%#= link_to "About", about_path, class: "btn btn-sm btn-outline-secondary" %>-->
                <!--</li>-->
                <!--<li class="nav-item ml-5">-->
                <!--  <%#= link_to "ゲーム一覧", games_path, class: "btn btn-sm btn-outline-secondary" %>-->
                <!--</li>-->
                <li class="nav-item ml-5">
                  <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-sm btn-outline-secondary" %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to "ログイン", new_customer_session_path, class: "btn btn-sm btn-outline-secondary" %>
                </li>
                <li class="nav-item ml-5">
                  <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post, class: "login btn btn-sm btn-outline-secondary" %>
                </li>
              <% end %>
            </form>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="mt-5 pt-5 border-top border-primary ">
      <div class="d-flex justify-content-center">
        <p class="pr-3">Copyright © All Rights Reserved by For What?</p>
        <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
        <a href="https://webservice.rakuten.co.jp/" target="_blank"><img src="https://webservice.rakuten.co.jp/img/credit/200709/credit_31130.gif" border="0" alt="Rakuten Web Service Center" title="Rakuten Web Service Center" width="311" height="30"/></a>
        <!-- Rakuten Web Services Attribution Snippet TO HERE -->
      </div>
    </footer>

  </body>
</html>
